{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>시야랑</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    
    <style type="text/css">
        *{
            font-family: "Do Hyeon", sans-serif;
        } 
        
    </style>

    <link rel="stylesheet" type = "text/css" href="{% static 'css/seeya.css'%}">
    <script src = "{%static 'js/csrftoken.js' %}" type = "text/javascript"></script> 
</head>
<body>
    <div class="wrap">
        <div class="logout">
            <h3 ><a href="/seeyarang"><p class="small logoutcolor">HOME</p></a></h3>
        </div>
        <div>
            <image src = "{%static 'images/forhtml/seeya.png'%}" height = 300px class="img_box"/>
            <hr class="my-1">
            <br>
            <h3 class="margin">"시야랑은 '시야'와 + 함께한다는 의미의 '랑'을 합친 단어로 </h3>
            <br>
            <h3 class="margin">   시각장애인의 일상에서 함께하며 그들의 눈이 되어주는 디바이스 입니다."</h3>
            <hr class="my-4">
        </div>
        <div id="item-box" class="card-columns">
        </div>
    </div>
</body>