{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>HOME</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    
    <style type="text/css">
        *{
            font-family: "Do Hyeon", sans-serif;
        }
        
    </style>

    <link rel="stylesheet" type = "text/css" href="{% static 'css/Home.css'%}">
    <script src = "{%static 'js/csrftoken.js' %}" type = "text/javascript"></script>   

</head>
<body>
    <div class="logout">
        <h3 ><a href="login"><p class="small logoutcolor">로그인</p></a></h3>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="block1">
                <image src = "{%static 'images/forhtml/info.gif'%}" height = 100px, width = 100px class="imageblock"/>
                <br>
                <h2><a href ="info"><p class="objfont bottom">너의 시야랑</p></a></h2>    
                <p class="lead smallcolor">< 상품에 대한 당신의 후기를 들려주세요! ></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            
            <div class="block1">
                <image src = "{%static 'images/forhtml/seeya.gif'%}" height = 100px, width = 100px class="imageblock"/>
                <br>
                <h2><a href ="whatis"><p class="objfont bottom">시야랑</p></a></h2>    
                <p class="lead smallcolor">< 시야랑이 무엇인가요? ></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="block1">
                <image src = "{%static 'images/forhtml/device.gif'%}" height = 100px, width = 100px class="imageblock"/>
                <br>
                <h2><a href ="manual"><p class="objfont bottom">우리의 시야랑</p></a></h2>    
                <p class="lead smallcolor">< 시야랑은 어떻게 사용하나요? ></p>
            </div>
        </div>
    </div>
        
    
</body>
